<template name="ChampionsList">
  {{#if currentUser}}
    <h1>Champion List</h1>
    <ul class="champions-list">
    {{#each champions}}
      <li>
        <div class="image-box">
          <img src="{{imageUrl}}" alt="{{name}}{{title}}">
          <p class="tags">{{tags}}</p>
        </div>
        <div class="text-wrap">
          <span class="name">{{name}}</span>
          <span class="title">{{title}}</span>
          <p class="blurb">{{blurb}}</p>
        </div>
      </li>
    {{/each}}
    </ul>
  {{/if}}
</template>
